/*style*/
html, body {
	color: #000000;
	background: #ffffff;
}

body {
	margin:0;
	padding: 0;
	width: 100%;
	height: 100%;
}

section {
	width: 100%;
	height: 100%;
}

h1 {
	width: 100%;
	text-align: center;
}

p {
	font-size: 13px;
	margin-top: 8px;
	margin-bottom: 0px;
}

label {
	width: 100%;
	margin: 20px auto 5px auto;
	display: block;
}

picture {
	display: block;
	margin: 0 auto;
	width: 640px;
}

picture img {
	width: 100%;
}

#content {
	width: 700px;
	margin: 0 auto;
}



#resultShowArea {
	display: block;
	width: 100%;
	height: 60px;
	padding: 10px;
	margin: 0 auto;
	border: 1px solid #777;
	overflow: scroll;
}

#parotBtn {
	display: block;
	margin: 20px auto;
	width: 300px;
}