/*style*/
html, body {
	color: #000000;
	background: #ffffff;
}

body {
	margin:0;
	padding: 0;
	width: 100%;
	height: 100%;
}

section {
	width: 100%;
	height: 100%;
}

h1 {
	width: 100%;
	text-align: center;
}

p {
	font-size: 13px;
	margin-top: 8px;
	margin-bottom: 0px;
}

label {
	width: 100%;
	margin: 20px auto 5px auto;
	display: block;
}

#content {
	width: 700px;
	margin: 0 auto;
}

#resultShowArea {
	display: block;
	width: 100%;
	height: 200px;
	padding: 10px;
	margin: 0 auto;
	border: 1px solid #777;
	overflow: scroll;
}

#actionEnter {
	display: inline-block;
	width: 590px;
	height: 22px;
	font-size: 12px;
	padding-left: 10px;
	border: 1px solid #8f8f8f;
}

#sendBtn {
	width: 90px;
	height:  27px;
}

#parotBtn {
	display: block;
	margin: 40px 0;
	width: 300px;
	height: 30px;
}